.card-img-top{
  height: 250px;
}
.fit-image{
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.minimal-text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.right-align {
  float: right
}
